table {
  width: 100%;
}

.table td {
  height: 41px !important;
}

.data-overview {
  width: 900px;
}

.data-overview td.title {
  padding-right: 30px;
  width: 350px;
  color: #007be6;
}

.table.table-wrapper {
  max-height: 100px;
  overflow: auto;
  display: inline-block;
}

.ms-n5 {
  margin-left: -40px;
}

.display-none {
  display: none;
}

.headrow {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top-width: 1px;
  /*only relevant for first row*/
  margin-top: -1px;
  /*compensate for top border*/
}

.fixed-row-bottom {
  position: fixed;
  bottom: 0;
}

.btn.btn-custom {
  min-width: 100px;
}

.btn.btn-custom.active-menu {
  background-color: #0060d6;
  color: #ffffff;
  border: 4px solid #87b9f5;
}
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
}

.bg-approve {
  background: linear-gradient(
    180deg,
    rgba(85, 161, 255, 1) 15%,
    rgba(0, 112, 252, 1) 50%,
    rgba(85, 161, 255, 1) 85%
  );
  border-top-left-radius: 0.6rem !important;
  border-top-right-radius: 0.6rem !important;
}

.bg-reject {
  background: linear-gradient(
    180deg,
    rgba(245, 71, 92, 1) 15%,
    rgba(244, 27, 53, 1) 50%,
    rgba(245, 71, 92, 1) 85%
  );
  border-top-left-radius: 0.6rem !important;
  border-top-right-radius: 0.6rem !important;
}

.upload-file-button > input {
  display: none;
}

.upload-file-icon {
  font-size: 24px;
  color: red;
}

.navbar img.pgn-logo {
  width: 8rem;
}
